{% extends 'base.html.twig' %}

{% block title %}Modifier le profil
{% endblock %}

{% block body %}
	<h1 class="text-3xl font-extrabold text-center my-7">
		Profil de
		{{ user.name }}
		{{ user.firstname }}</h1>

	<div class="form flex flex-col items-center p-7">
		{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}


		<div class="max-w-4xl mx-auto mt-8 flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
			<a href="{{ path('app_profile_show', {'id': app.user.id}) }}" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded cursor-pointer mt-2">
				Retour au profil
			</a>
			{{ include('user/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
