{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{user.name}}
	{{user.firstName}}
{% endblock %}

{% block body %}


	<section
		class=" dark:bg-gray-700 p-4 sm:p-6 md:p-8 lg:p-10 flex flex-col items-center gap-10">


		{# Card Profil de l'user connecté #}
		<div class="bg-white dark:bg-gray-600 rounded-lg shadow-lg overflow-hidden grid grid-cols-12 gap-6 w-full max-w-4xl mx-aut">
			<div class="col-span-12 md:col-span-4 p-6 flex flex-col items-center justify-center bg-gradient-to-br from-orange-300 to-orange-500 text-white rounded-t-lg md:rounded-l-lg md:rounded-tr-none">
				<img class="h-24 w-24 rounded-full object-cover border-4 border-white shadow-md mb-4" src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Photo de profil de l'utilisateur">
				<h1 class="text-4xl sm:text-5xl font-extrabold text-center">{{ user.name }}</h1>
				<p class="text-xl sm:text-2xl font-light text-center opacity-90">@{{ user.nickname }}</p>
			</div>
			<div class="col-span-12 md:col-span-8 p-6 md:p-8">
				<h2 class="text-2xl sm:text-3xl font-semibold text-gray-800 dark:text-white mb-6 border-b-2 border-blue-200 pb-2">Informations du profil</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-gray-700">
					<p class="text-gray-900 dark:text-white ">
						<strong>Nom de l'utilisateur :</strong>
						{{ user.name }}</p>
					<p class="text-gray-900 dark:text-white ">
						<strong>Prénom de l'utilisateur :</strong>
						{{ user.firstName }}</p>
					<p class="text-gray-900 dark:text-white ">
						<strong>Pseudo de l'utilisateur :</strong>
						{{ user.nickName }}</p>
					<p class="text-gray-900 dark:text-white ">
						<strong>Âge de l'utilisateur :</strong>
						{{ user.age }}
						ans</p>
					<p class="md:col-span-1 text-gray-900 dark:text-white ">
						<strong>Email de l'utilisateur :</strong>
						{{ user.email }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<p class="md:col-span-1 text-gray-900 dark:text-white">
							<strong>Utilisateur administrateur :</strong>
							Oui</p>
					{% endif %}
				</div>
				<div class="flex justify-center">
					{% if app.user and app.user.id == user.id %}
						<a href="{{ path('app_profile_edit', {'id': app.user.id}) }}" class="font-bold bg-orange-500 dark:bg-orange-300 hover:bg-orange-700 dark:hover:bg-orange-500 dark:hover:text-white text-white dark:text-gray-700 py-1 px-3 mt-7 rounded text-center inline-block">
							Modifier le profil
						</a>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- Page Content -->
		{# <main id="page-content" class="flex flex-col ">
			<div class="w-full mx-auto "> #}
				<div class="w-full max-w-4xl bg-white dark:bg-gray-600 rounded-lg flex flex-row md:flex-col">
					<!-- Navigation Above Table -->
					<nav class="w-full md:w-1/4 p-2 pt-4">
						<div class="flex flex-col md:flex-row w-full md:w-auto flex-wrap justify-center md:justify-start gap-2 mb-4">
							<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'tweets'}) }}" class="group dark:text-white flex items-center justify-between gap-2 rounded-md border border-transparent px-3 py-2 text-sm font-semibold text-slate-900 hover:bg-orange-100 hover:text-orange-600 active:border-orange-200">
								<i class="fa-solid fa-message text-slate-300 group-hover:text-orange-500"></i>
								<span class="flex-1 text-left text-base sm:text-lg">Mes tweets</span>
								<span class="inline-flex items-center justify-center rounded-full border border-orange-200 bg-gray-50 px-2 text-xs text-orange-900">{{ app.user.tweets|length }}</span>
							</a>
							<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'likes'}) }}" class="group dark:text-white flex items-center justify-between gap-2 rounded-md border border-transparent px-3 py-2 text-sm font-semibold text-slate-900 hover:bg-orange-100 hover:text-orange-600 active:border-orange-200">
								<i class="fa-solid fa-paw size-5 text-slate-300 group-hover:text-orange-500"></i>
								<span class="flex-1 text-left text-base sm:text-lg">Mes Likes</span>
								<span class="inline-flex items-center justify-center rounded-full border border-orange-200 bg-gray-50 px-2 text-xs text-orange-900">{{ app.user.likes|length }}</span>
							</a>
						</div>
					</nav>
					<!-- END Navigation -->

					<!-- Main Content -->
					{% if app.request.query.get('section') == 'tweets' or app.request.query.get('section') is null %}
						<div class="w-full md:w-3/4 overflow-hidden rounded-xl bg-white dark:bg-gray-500">
							<div class="px-6 pt-6">
								<h2 class="text-2xl font-bold dark:text-white">Mes tweets</h2>
								<h3 class="text-sm font-medium text-slate-500"></h3>
							</div>
							<div
								class="p-6">
								<!-- Responsive Table Container -->
								<div
									class="min-w-full overflow-x-auto rounded-sm  flex flex-col gap-3">
									<!-- Alternate Responsive Table -->
									<table
										class="min-w-full align-middle text-sm  flex flex-col gap-3">
										<!-- Table Body -->
										<tbody>

														<tr class="group border-b border-slate-100">
															{% if user.tweets is not empty %}
															{% for tweet in tweets %}
								{# Tri par ordre antichronologique : ajout d'un order by dans l'entité User sur relation Tweet #}
															<a href="{{ path('app_tweet_show', {'id': tweet.id, 'from': 'profil_tweet'}) }}" class="block no-underline">
															<div class="bg-gray-100 dark:bg-gray-300 p-4 rounded-lg mb-4 last:mb-0 border border-orange-200">
																<p class="text-gray-800 mb-2 text-base sm:text-lg">{{ tweet.content }}</p>
																<div class="flex justify-between">
																<small class="text-gray-500 text-sm">Publié le
																	{{ tweet.creationtime|date('d/m/Y H:i') }}</small>
																<small class="text-gray-500 text-sm">{{ tweet.comment|length}} commentaire{{tweet.comment|length > 1 ? "s" : ""}}</small>
																<div>
																	<small class="text-gray-500 text-sm">{{ tweet.likes|length }} <i class="fa-solid fa-paw "></i></small>
																	<small class="text-gray-500 text-sm">{{ tweet.retweetCount }} <i class="fa-solid fa-retweet "></i></small>
																</div>
																	</div>
																	</div>
															{% endfor %}
															{% else %}
															<p class="text-gray-600 italic">Vous n'avez pas encore publié de tweets.</p>
															{% endif %}
														</tr>
						
												</tbody>
												<!-- END Table Body -->
											</tbody>
										</table>
										{# Pagination #}
											{% if totalPagesTweets > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'tweets', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded ">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesTweets %}
														<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'tweets', 'page': p}) }}" class="px-3 py-1 rounded flex items-center justify-center {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesTweets %}
														<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'tweets', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded ">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										<!-- END Alternate Responsive Table -->
									</div>
									<!-- END Responsive Table Container -->
								</div>
							</div>
							{% elseif app.request.query.get('section') == 'likes' %}
								<div class="w-full md:w-3/4 overflow-hidden rounded-xl border border-slate-200 bg-white dark:bg-gray-500">
									<div class="px-6 pt-6">
										<h2 class="text-2xl font-bold dark:text-white">Mes likes</h2>
										<h3
											class="text-sm font-medium text-slate-500">
										</h3>
									</div>
									<div
										class="p-6">
										<!-- Responsive Table Container -->
										<div
											class="min-w-full overflow-x-auto rounded-sm  flex flex-col gap-3">
											<!-- Alternate Responsive Table -->
											<table
												class="min-w-full align-middle text-sm  flex flex-col gap-3">
												<!-- Table Body -->
												<tbody>

														<tr class="group border-b border-slate-100">
															{% if user.likes is not empty %}
													{% for like in likes %}
    												{% set tweet = like.tweet %}
    												{% set comment = like.comment %}
								
								{# Si le like concerne un commentaire #}
								{% if comment %}
										<a href="{{ path('app_tweet_show', {'id': tweet.id,'from': 'profil_likes'}) }}" class="block no-underline">
										<div class="bg-gray-50 dark:bg-gray-300 p-4 rounded-lg mb-4 last:mb-0 border border-orange-200">
		
									<!-- Mise en avant du commentaire -->
									<div class="bg-gray-100 border-l-4 border-orange-400 p-3 mb-3 rounded">
										<p class="text-sm text-gray-600 mb-1">Commentaire publié le : {{ tweet.creationtime|date('d/m/Y H:i') }}</p>
										<div class="flex justify-between text-sm text-gray-500">
										<p class="text-gray-800 italic text-base sm:text-lg">"{{ comment.content }}"</p>
										<small>{{ comment.likes|length }} <i class="fa-solid fa-paw"></i></small>
										</div>
									</div>

																<!-- Informations sur le tweet lié -->
																<p class="text-gray-800 mb-2 text-base sm:text-lg">
																	<strong>{{ tweet.idUser.isActive ? tweet.idUser.nickname : "Utilisateur anonyme" }}</strong>
																</p>
																<p class="text-gray-800 mb-2 text-base sm:text-lg">{{ tweet.content }}</p>

																<div class="flex justify-between text-sm text-gray-500">
																	<small>Publié le
																		{{ tweet.creationtime|date('d/m/Y H:i') }}</small>
																	<small>{{ tweet.comment|length }}
																		commentaire{{ tweet.comment|length > 1 ? "s" : "" }}</small>
																<div>
																	<small class="text-gray-500 text-sm">{{ tweet.likes|length }} <i class="fa-solid fa-paw "></i></small>
																	<small class="text-gray-500 text-sm">{{ tweet.retweetCount }} <i class="fa-solid fa-retweet "></i></small>
																</div>
																</div>
															</div>
														</a>
													{% else %}
														{# Si le like concerne un tweet #}
														<a href="{{ path('app_tweet_show', {'id': tweet.id}) }}" class="block no-underline">
															<div class="bg-gray-50 dark:bg-gray-300  p-4 rounded-lg mb-4 last:mb-0 border border-orange-200">
																<p class="text-gray-800 mb-2 text-base sm:text-lg">
																	<strong>{{ tweet.idUser.isActive ? tweet.idUser.nickname : "Utilisateur anonyme" }}</strong>
																</p>
																<p class="text-gray-800 mb-2 text-base sm:text-lg">{{ tweet.content }}</p>
																<div class="flex justify-between">
																<small class="text-gray-500 text-sm">Publié le
																	{{ tweet.creationtime|date('d/m/Y H:i') }}</small>
																	<small class="text-gray-500 text-sm">{{ tweet.comment|length}} commentaire{{tweet.comment|length > 1 ? "s" : ""}}</small>
																<small class="text-gray-500 text-sm">	{{ tweet.likes|length }} <i class="fa-solid fa-paw "></i></small>
																	</div>
																	</div>
															{% endif %}
															{% endfor %}
															{% else %}
															<p class="text-gray-600 italic">Vous n'avez pas encore liké de tweets.</p>
															{% endif %}
														</tr>
						
												</tbody>
												<!-- END Table Body -->
											</tbody>
										</table>
										{# Pagination #}
											{% if totalPagesLikes > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'likes', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesLikes %}
														<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'likes', 'page': p}) }}" class="px-3 py-1 rounded flex items-center justify-center {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesLikes %}
														<a href="{{ path('app_profile_show', {'id': app.user.id,'section': 'likes', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										<!-- END Alternate Responsive Table -->
									</div>
									<!-- END Responsive Table Container -->
								</div>
								      {% endif %}
							</div>
						</div>

		<!-- END Main Content -->


		<div class="max-w-4xl mx-auto mt-8 flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
			<a href="{{ path('app_tweet_index')}}" class="bg-orange-500 dark:bg-orange-300 hover:bg-orange-700 dark:hover:bg-orange-500 dark:hover:text-white text-white dark:text-gray-700  font-semibold hover:text-white py-2 px-4 rounded cursor-pointer mt-2">
				Retour à l'Accueil
			</a>

		</div>

	</section>
{% endblock %}
