{% extends 'base.html.twig' %}

{% block title %}Panel Admin Controller!
{% endblock %}

{% block body %}
	<div
		x-data="{ userDropdownOpen: false, mobileNavOpen: false }">
		<!-- Page Container -->
		<div id="page-container" class="mx-auto flex min-h-screen w-full min-w-[320px] flex-col bg-slate-100">
			{# Header non utilsé pour le moment #}
			<!-- Page Header -->
				<header id="page-header" class="z-1 flex flex-none items-center dark:bg-gray-700"> <div class="container mx-auto px-4 lg:px-8 xl:max-w-7xl">
					<div
						class="flex justify-between border-b-2 border-slate-200/50 py-6">

						<!-- Right Section -->
						<div
							class="flex items-center gap-1 lg:gap-5">
							<!-- Header Navigation -->
							<nav
								class="flex items-center gap-2">{# <a href="javascript:void(0)" class="group flex items-center justify-between rounded-md border border-transparent px-2.5 py-2 text-sm font-semibold text-slate-900 hover:bg-indigo-100 hover:text-indigo-600 active:border-indigo-200 active:bg-indigo-100 sm:gap-2">
																																																																																										<svg class="hi-mini hi-flag inline-block size-5 text-slate-300 group-hover:text-indigo-500" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
																																																																																											<path d="M3.5 2.75a.75.75 0 00-1.5 0v14.5a.75.75 0 001.5 0v-4.392l1.657-.348a6.449 6.449 0 014.271.572 7.948 7.948 0 005.965.524l2.078-.64A.75.75 0 0018 12.25v-8.5a.75.75 0 00-.904-.734l-2.38.501a7.25 7.25 0 01-4.186-.363l-.502-.2a8.75 8.75 0 00-5.053-.439l-1.475.31V2.75z"/>
																																																																																										</svg>
																																																																																										<span class="inline-flex size-6 items-center justify-center rounded-full border border-indigo-200 bg-indigo-50 text-indigo-900">3</span>
																																																																																									</a> #}
							</nav>
							<!-- END Header Navigation -->

							<!-- User Dropdown -->
							<div class="relative inline-block"></div>
							<!-- END User Dropdown -->
						</div>
						<!-- END Right Section -->
					</div>
				</div>
			</header>
			<!-- END Page Header -->

			<!-- Page Content -->
			<main id="page-content" class="flex max-w-full flex-auto flex-col dark:bg-gray-700">
				<div class="container mx-auto p-4 lg:p-8 xl:max-w-7xl">
					<div class="grid grid-cols-1 md:gap-20 lg:grid-cols-12">
						{# barre de navigation gauche #}
						<!-- Navigation -->
							<nav class="hidden lg:col-span-3 lg:block"> <a href="{{ path('app_panel_admin', {'section': 'dashboard'}) }}" class="group flex items-center justify-between gap-2 rounded-md border border-transparent bg-indigo-100 dark:bg-orange-500 px-2.5 py-2 text-sm font-semibold text-indigo-500 active:border-indigo-200">
								<svg fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="hi-solid hi-home inline-block size-5 flex-none">
									<path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
								</svg>
								<span class="grow dark:text-gray-100">Dashboard</span>
							</a>
							<hr class="h-5 border-0"/>

							<hr class="h-5 border-0"/>
							<div class="space-y-1.5">
								<a href="{{ path('app_panel_admin', {'section': 'users'}) }}" class="dark:hover:bg-gray-600 hover:text-sky-700 group flex items-center justify-between gap-2 rounded-md border border-transparent {% if app.request.query.get('section') == 'users' or app.request.query.get('section') is null %}dark:bg-orange-500 bg-indigo-100 dark:bg-orange-500 text-indigo-500 active:border-indigo-200{% else %}text-slate-900 hover:bg-indigo-100 hover:text-indigo-600 active:border-indigo-200{% endif %} px-2.5 py-2 text-sm font-semibold">
									<svg class="hi-mini hi-user-group inline-block size-5 flex-none {% if app.request.query.get('section') == 'users' or app.request.query.get('section') is null %}text-indigo-500{% else %}text-slate-300 group-hover:text-indigo-500{% endif %}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path d="M10 9a3 3 0 100-6 3 3 0 000 6zM6 8a2 2 0 11-4 0 2 2 0 014 0zM1.49 15.326a.78.78 0 01-.358-.442 3 3 0 014.308-3.516 6.484 6.484 0 00-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 01-2.07-.655zM16.44 15.98a4.97 4.97 0 002.07-.654.78.78 0 00.357-.442 3 3 0 00-4.308-3.517 6.484 6.484 0 011.907 3.96 2.32 2.32 0 01-.026.654zM18 8a2 2 0 11-4 0 2 2 0 014 0zM5.304 16.19a.844.844 0 01-.277-.71 5 5 0 019.947 0 .843.843 0 01-.277.71A6.975 6.975 0 0110 18a6.974 6.974 0 01-4.696-1.81z"/>
									</svg>
									<span class="grow dark:text-gray-100">Utilisateurs</span>
									<span class="inline-flex items-center justify-center rounded-full border border-indigo-200 bg-indigo-50 px-1 text-xs text-indigo-900">{{ totalUsersCount }}</span>
								</a>
								<a href="{{ path('app_panel_admin', {'section': 'tweets'}) }}" class="dark:hover:bg-gray-600 hover:text-sky-700 group flex items-center justify-between gap-2 rounded-md border border-transparent {% if app.request.query.get('section') == 'tweets' %}bg-indigo-100 dark:bg-orange-500 text-indigo-500 active:border-indigo-200{% else %}text-slate-900 hover:bg-indigo-100 hover:text-indigo-600 active:border-indigo-200{% endif %} px-2.5 py-2 text-sm font-semibold">
									<svg class="hi-mini hi-briefcase inline-block size-5 flex-none {% if app.request.query.get('section') == 'tweets' %}text-indigo-500{% else %}text-slate-300 group-hover:text-indigo-500{% endif %}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd" d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z" clip-rule="evenodd"/>
										<path d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z"/>
									</svg>
									<span class="grow dark:text-gray-100">Tweets</span>
									<span class="inline-flex items-center justify-center rounded-full border border-indigo-200 bg-indigo-50 px-1 text-xs text-indigo-900">{{ totalTweetsCount }}</span>
								</a>
								<a href="{{ path('app_panel_admin', {'section': 'signalementsTweets'}) }}" class="dark:hover:bg-gray-600 hover:text-sky-700 group flex items-center justify-between gap-2 rounded-md border border-transparent {% if app.request.query.get('section') == 'signalements' %}bg-indigo-100 dark:bg-orange-500 text-indigo-500 active:border-indigo-200{% else %}text-slate-900 hover:bg-indigo-100 hover:text-indigo-600 active:border-indigo-200{% endif %} px-2.5 py-2 text-sm font-semibold">
									<svg class="hi-mini hi-document-text inline-block size-5 flex-none {% if app.request.query.get('section') == 'signalementsTweets' %}text-indigo-500{% else %}text-slate-300 group-hover:text-indigo-500{% endif %}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd"/>
									</svg>
									<span class="grow dark:text-gray-100">Tweets Signalés</span>
									<span class="inline-flex items-center justify-center rounded-full border border-indigo-200 bg-indigo-50 px-1 text-xs text-indigo-900">{{ signalements_countTweets }}</span>
								</a>
								<a href="{{ path('app_panel_admin', {'section': 'commentaires'}) }}" class="dark:hover:bg-gray-600 hover:text-sky-700 group flex items-center justify-between gap-2 rounded-md border border-transparent {% if app.request.query.get('section') == 'commentaires' %}bg-indigo-100 dark:bg-orange-500 text-indigo-500 active:border-indigo-200{% else %}text-slate-900 hover:bg-indigo-100 hover:text-indigo-600 active:border-indigo-200{% endif %} px-2.5 py-2 text-sm font-semibold">
									<svg class="hi-mini hi-document-text inline-block size-5 flex-none {% if app.request.query.get('section') == 'commentaires' %}text-indigo-500{% else %}text-slate-300 group-hover:text-indigo-500{% endif %}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd"/>
									</svg>
									<span class="grow dark:text-gray-100">Commentaires</span>
									<span class="inline-flex items-center justify-center rounded-full border border-indigo-200 bg-indigo-50 px-1 text-xs text-indigo-900">{{ totalCommentsCount }}</span>
								</a>
								<a href="{{ path('app_panel_admin', {'section': 'signalementsComments'}) }}" class="dark:hover:bg-gray-600 hover:text-sky-700 group flex items-center justify-between gap-2 rounded-md border border-transparent {% if app.request.query.get('section') == 'signalements' %}bg-indigo-100 dark:bg-orange-500 text-indigo-500 active:border-indigo-200{% else %}text-slate-900 hover:bg-indigo-100 hover:text-indigo-600 active:border-indigo-200{% endif %} px-2.5 py-2 text-sm font-semibold">
									<svg class="hi-mini hi-document-text inline-block size-5 flex-none {% if app.request.query.get('section') == 'signalementsComments' %}text-indigo-500{% else %}text-slate-300 group-hover:text-indigo-500{% endif %}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd"/>
									</svg>
									<span class="grow dark:text-gray-100">Commentaires Signalés</span>
									<span class="inline-flex items-center justify-center rounded-full border border-indigo-200 bg-indigo-50 px-1 text-xs text-indigo-900">{{ signalements_countComments }}</span>
								</a>
							</div>
							<hr class="h-5 border-0"/>

						</nav>
						<!-- END Navigation -->

						<!-- Main Content -->
						{# affichage de nombres #}

							<div class="lg:col-span-9"> <div
								class="grid grid-cols-1 gap-4 sm:grid-cols-10 md:gap-6">
								{# UTILISATEURS #}
								<div class="dark:bg-slate-600 rounded-lg border border-slate-200 bg-white p-6 sm:col-span-6 xl:col-span-2">
									<dl>
										<dt class="dark:text-gray-100 text-2xl font-bold">{{ totalUsersCount }}</dt>
										<dd class="dark:text-gray-300 text-sm font-medium text-slate-500">
											Nombres d'utilisateurs
										</dd>
									</dl>
								</div>
								{# TWEETS #}
								<div class="dark:bg-slate-600 rounded-lg border border-slate-200 bg-white p-6 sm:col-span-6 xl:col-span-2">
									<dl>
										<dt class="dark:text-gray-100 text-2xl font-bold">{{ totalTweetsCount }}</dt>
										<dd class="dark:text-gray-300 text-sm font-medium text-slate-500">
											Nombres de tweets
										</dd>
									</dl>
								</div>
								{# TWEETS SIGNALES#}
								<div class="dark:bg-slate-600 rounded-lg border border-slate-200 bg-white p-6 sm:col-span-6 xl:col-span-2">
									<dl>
										<dt class="dark:text-gray-100 text-2xl font-bold">{{ signalements_countTweets }}</dt>
										<dd class="dark:text-gray-300 text-sm font-medium text-slate-500">
											Nombres de tweets signalés
										</dd>
									</dl>
								</div>
								{# COMMENTAIRES #}
								<div class="dark:bg-slate-600 rounded-lg border border-slate-200 bg-white p-6 sm:col-span-6 xl:col-span-2">
									<dl>
										<dt class="dark:text-gray-100 text-2xl font-bold">{{ totalCommentsCount }}</dt>
										<dd class="dark:text-gray-300 text-sm font-medium text-slate-500">
											Nombres de commentaires
										</dd>
									</dl>
								</div>
								{# COMMENTAIRES SIGNALES#}
								<div class="dark:bg-slate-600 rounded-lg border border-slate-200 bg-white p-6 sm:col-span-6 xl:col-span-2">
									<dl>
										<dt class="dark:text-gray-100 text-2xl font-bold">{{ signalements_countComments }}</dt>
										<dd class="dark:text-gray-300 text-sm font-medium text-slate-500">
											Nombres de commentaires signalés
										</dd>
									</dl>
								</div>

								{# LISTE UTILISATEURS#}
								{% if app.request.query.get('section') == 'users' or app.request.query.get('section') is null %}
									<div class="dark:bg-slate-600 overflow-hidden rounded-xl border border-slate-200 bg-white sm:col-span-12">
										<div class="px-6 pt-6">
											<h2 class="dark:text-gray-100 text-2xl font-bold">Liste des utilisateurs</h2>
											<h3
												class="text-sm font-medium text-slate-500">Gérez ici les utilisateurs.
											</h3>
										</div>
										<div
											class="p-6">
											<!-- Responsive Table Container -->
											<div
												class="min-w-full overflow-x-auto rounded-sm">
												<!-- Alternate Responsive Table -->
												<table
													class="min-w-full align-middle dark:text-gray-300 text-sm">
													<!-- Table Header -->
													<thead>
														<tr class="border-b-2 border-slate-100">
															<th class="px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase">
																Photo
															</th>
															<th class="px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase">
																id
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Nom
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Prénom
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Surnom
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Age
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Email
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Status
															</th>
															<th class="hidden px-3 py-2 dark:text-gray-100 text-start text-sm font-semibold tracking-wider text-slate-700 uppercase md:table-cell">
																Bannis
															</th>
															<th class="px-3 py-2 dark:text-gray-100 text-end text-sm font-semibold tracking-wider text-slate-700 uppercase">
																Roles
															</th>
															<th class="px-3 py-2 dark:text-gray-100 text-end text-sm font-semibold tracking-wider text-slate-700 uppercase">
																Actions
															</th>
														</tr>
													</thead>
													<!-- END Table Header -->

													<!-- Table Body -->
													<tbody>
														{% for user in users %}
															<tr class="group border-b border-slate-100">
																<td class="p-3 dark:text-gray-300 text-start">
																	{% if user.photo %}
																		<img src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Photo de {{ user.nickname }}" class="inline-block size-9 rounded-full"/>
																	{% else %}
																		<div class="inline-block size-9 rounded-full bg-slate-200 flex items-center justify-center text-slate-500 text-xs font-semibold">
																			NP
																		</div>
																	{% endif %}
																</td>
																<td class="hidden p-3 dark:text-gray-300 text-slate-600 md:table-cell">{{ user.id }}</td>
																<td class="hidden p-3 dark:text-gray-300 text-slate-600 md:table-cell">{{ user.name }}</td>
																<td class="hidden p-3 dark:text-gray-300 text-slate-600 md:table-cell">{{ user.firstname }}</td>
																<td class="hidden p-3 dark:text-gray-300 text-slate-600 md:table-cell">{{ user.nickname }}</td>
																<td class="hidden p-3 dark:text-gray-300 text-slate-600 md:table-cell">{{ user.age }}</td>
																<td class="hidden p-3 dark:text-gray-300 text-slate-600 md:table-cell">{{ user.email }}</td>
																<td class="p-3 text-center">
																	{% if user.isActive %}
																		<span class="inline-block rounded-full border border-green-200 bg-green-50 px-2 py-1 text-xs leading-4 font-semibold text-green-700">Activé</span>
																	{% else %}
																		<span class="inline-block rounded-full border border-red-200 bg-red-50 px-2 py-1 text-xs leading-4 font-semibold text-red-700">Désactivé</span>
																	{% endif %}
																</td>
																<td class="p-3 text-center">
																	{% if user.isBanned %}
																		<span class="inline-block rounded-full border border-green-200 bg-green-50 px-2 py-1 text-xs leading-4 font-semibold text-green-700">Oui</span>
																	{% else %}
																		<span class="inline-block rounded-full border border-red-200 bg-red-50 px-2 py-1 text-xs leading-4 font-semibold text-red-700">Non</span>
																	{% endif %}
																</td>
																<td class="p-3 text-center">
																	{% for role in user.roles %}
																		{% if role == 'ROLE_ADMIN' %}
																			<span class="inline-block rounded-full border border-indigo-200 bg-indigo-50 px-2 py-1 text-xs leading-4 font-semibold text-indigo-700">Admin</span>
																		{% elseif role == 'ROLE_USER' %}
																			<span class="inline-block rounded-full border border-blue-200 bg-blue-50 px-2 py-1 text-xs leading-4 font-semibold text-blue-700">Utilisateur</span>
																		{% else %}
																			<span class="inline-block rounded-full border border-gray-200 bg-gray-50 px-2 py-1 text-xs leading-4 font-semibold text-gray-700">{{ role }}</span>
																		{% endif %}
																	{% endfor %}
																</td>
																<td
																	class="p-3 text-end">
																	{# Add action buttons here, e.g., view, edit, delete #}
																	<div class="inline-flex items-center gap-2">

																		{% if user.isBanned == false %}
																			<a href="{{ path('app_user_ban', {'id': user.id}) }}" class="text-orange-600 hover:text-orange-900 text-sm font-medium" onclick="return confirm('Êtes-vous sûr de vouloir bannir l'utilisateur ?');">Bannir</a>
																		{% else %}
																			<a href="{{ path('app_user_unban', {'id': user.id}) }}" class="text-orange-600 hover:text-orange-900 text-sm font-medium" onclick="return confirm('Êtes-vous sûr de vouloir débannir l'utilisateur ?');">Débannir</a>
																		{% endif %}
																		<form action="{{ path('app_admin_user_delete', {'id': user.id}) }}" method="post" class="delete-tweet-form">
																			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
																			<button type="submit" class="text-red-600 hover:text-red-900 text-sm font-medium delete-tweet-button" data-user-id="{{ user.id }}">Supprimer</button>
																		</form>

																	</div>
																</td>
															</tr>
														{% endfor %}
													</tbody>
													<!-- END Table Body -->
												</tbody>
											</table>
											<!-- END Alternate Responsive Table -->
											{# Pagination #}
											{% if totalPagesUsers > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_panel_admin', {'section': 'users', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesUsers %}
														<a href="{{ path('app_panel_admin', {'section': 'users', 'page': p}) }}" class="px-3 py-1 rounded {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesUsers %}
														<a href="{{ path('app_panel_admin', {'section': 'users', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										</div>
										<!-- END Responsive Table Container -->
									</div>
								</div>
								{# LISTE TWEETS#}
							{% elseif app.request.query.get('section') == 'tweets' %}
								<div class="dark:bg-slate-600 overflow-hidden rounded-xl border border-slate-200 bg-white sm:col-span-12">
									<div class="px-6 pt-6">
										<h2 class="text-2xl dark:text-gray-100 font-bold">Listes des tweets</h2>
										<h3
											class="text-sm font-medium text-slate-500">Gérez ici les tweets des utilisateurs.
										</h3>
									</div>
									<div class="p-6">
										<div class="min-w-full overflow-x-auto rounded-sm">
										<table class="min-w-full align-middle text-sm">
												<thead>
													<tr class="border-b-2 border-slate-100">
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															ID
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Contenu
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Auteur
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Date
														</th>
														<th class="px-3 py-2 text-end dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Signalés
														</th>
														<th class="px-3 py-2 text-end dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Actions
														</th>
													</tr>
												</thead>
												<tbody>
													{% for tweet in tweets %}
														<tr class="group border-b border-slate-100">
															<td class="p-3 dark:text-gray-300 text-slate-600">{{ tweet.id }}</td>
															<td class="p-3 dark:text-gray-300 text-slate-600">{{ tweet.content|length > 50 ? tweet.content|slice(0, 50) ~ '...' : tweet.content }}</td>
															<td class="p-3 dark:text-gray-300 text-slate-600">{{ tweet.idUser.name }}</td>
															<td class="p-3 dark:text-gray-300 text-slate-600">{{ tweet.creationTime|date('d/m/Y H:i') }}</td>
															<td class="p-3 text-center">
																{% if tweet.isSignaled %}
																	<span class="inline-block rounded-full border border-red-200 bg-red-50 px-2 py-1 text-xs leading-4 font-semibold text-red-700">Oui</span>
																{% else %}
																	<span class="inline-block rounded-full border border-green-200 bg-green-50 px-2 py-1 text-xs leading-4 font-semibold text-green-700">Non</span>
																{% endif %}
															</td>
															<td
																class="p-3 text-end">
																{# Add action buttons here, e.g., view, edit, delete #}
																<div class="inline-flex items-center gap-2">
																	<a href="{{ path('app_tweet_show', {'id': tweet.id, 'from' : 'admin_tweets'}) }}" class="dark:text-indigo-200 text-indigo-600 hover:text-indigo-900 text-sm font-medium">Voir</a>
																	<form action="{{ path('app_admin_tweet_delete', {'id': tweet.id}) }}" method="post" class="delete-tweet-form">
																		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tweet.id) }}">
																		<button type="submit" class="text-red-600 dark:text-red-500 hover:text-red-900 text-sm font-medium delete-tweet-button" data-tweet-id="{{ tweet.id }}">Supprimer</button>
																	</form>
																</div>
															</td>
														</tr>
													{% else %}
														<tr>
															<td colspan="6" class="p-3 text-center text-slate-500">Aucun tweet trouvé.</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
											{# Pagination #}
											{% if totalPagesTweets > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_panel_admin', {'section': 'tweets', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesTweets %}
														<a href="{{ path('app_panel_admin', {'section': 'tweets', 'page': p}) }}" class="px-3 py-1 rounded {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesTweets %}
														<a href="{{ path('app_panel_admin', {'section': 'tweets', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
								{# LISTE TWEETS SIGNALES#}
							{% elseif app.request.query.get('section') == 'signalementsTweets' %}
								<div class="dark:bg-slate-600 overflow-hidden rounded-xl border border-slate-200 bg-white sm:col-span-12">
									<div class="px-6 pt-6">
										<h2 class="text-2xl dark:text-gray-100 font-bold">Listes des tweets signalés</h2>
										<h3 class="text-sm font-medium dark:text-gray-300 text-slate-500">
											Gérez ici les tweets qui ont été signalés par les utilisateurs.
										</h3>
									</div>
									<div class="p-6">
										<div class="min-w-full overflow-x-auto rounded-sm">
											<table class="min-w-full align-middle text-sm">
												<thead>
													<tr class="border-b-2 border-slate-100">
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															ID
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Contenu
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Auteur
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Date
														</th>
														<th class="px-3 py-2 text-end dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Actions
														</th>
													</tr>
												</thead>
												<tbody>
													{% for reportedTweet in reportedTweets %}
														<tr class="group border-b border-slate-100">
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedTweet.id }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedTweet.content|length > 50 ? reportedTweet.content|slice(0, 50) ~ '...' : reportedTweet.content }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedTweet.idUser.nickname }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedTweet.creationTime|date('d/m/Y H:i') }}</td>
															<td class="p-3 text-end">
																<div class="inline-flex items-center gap-2">
																	<a href="{{ path('app_tweet_show', {'id': reportedTweet.id, 'from' : 'admin_reportedtweets'}) }}" class="text-indigo-600 dark:text-indigo-200 hover:text-indigo-900 text-sm font-medium">Voir</a>
																	<a href="{{ path('app_tweet_unreport', {'id': reportedTweet.id}) }}" class="text-green-600 dark:text-green-500 hover:text-green-900 text-sm font-medium unreport-link-button"
																	data-unreport-url="{{ path('app_tweet_unreport', {'id': reportedTweet.id}) }}"
																	data-unreport-tweet-id="{{ reportedTweet.id }}"
																	>Dé-signaler</a>
																	<form action="{{ path('app_admin_tweet_delete', {'id': reportedTweet.id}) }}" method="post" class="delete-tweet-form">
																		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reportedTweet.id) }}">
																		<button type="submit" class="text-red-600 dark:text-red-500 hover:text-red-900 text-sm font-medium delete-tweet-button" data-reported-tweet-id="{{ reportedTweet.id }}">Supprimer</button>
																	</form>
																</div>
															</td>
														</tr>
													{% else %}
														<tr>
															<td colspan="5" class="p-3 text-center dark:text-gray-300 text-slate-500">Aucun tweet signalé trouvé.</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
											{# Pagination #}
											{% if totalPagesSignalementsTweets > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_panel_admin', {'section': 'signalementsTweets', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesSignalementsTweets %}
														<a href="{{ path('app_panel_admin', {'section': 'signalementsTweets', 'page': p}) }}" class="px-3 py-1 rounded {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesSignalementsTweets %}
														<a href="{{ path('app_panel_admin', {'section': 'signalementsTweets', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
								{# LISTE COMMENTAIRES#}
							{% elseif app.request.query.get('section') == 'commentaires' %}
								<div class="dark:bg-slate-600 overflow-hidden rounded-xl border border-slate-200 bg-white sm:col-span-12">
									<div class="px-6 pt-6">
										<h2 class="text-2xl dark:text-gray-100 font-bold">Listes des commentaires</h2>
										<h3
											class="text-sm dark:text-gray-300 font-medium text-slate-500">{# Vous pouvez ajouter une description ici #}
										</h3>
									</div>
									<div class="p-6">
										<div class="min-w-full overflow-x-auto rounded-sm">
											<table class="min-w-full align-middle text-sm">
												<thead>
													<tr class="border-b-2 border-slate-100">
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															ID
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Contenu
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Auteur
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Date
														</th>
														<th class="px-3 py-2 text-end dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Signalés
														</th>
														<th class="px-3 py-2 text-end dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Actions
														</th>
													</tr>
												</thead>
												<tbody>
													{% for comment in comments %}
														<tr class="group border-b border-slate-100">
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ comment.id }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ comment.content|length > 50 ? comment.content|slice(0, 50) ~ '...' : comment.content }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ comment.user.name }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ comment.dateTime|date('d/m/Y H:i') }}</td>
															<td class="p-3 text-center">
																{% if comment.isSignaled %}
																	<span class="inline-block rounded-full border border-red-200 bg-red-50 px-2 py-1 text-xs leading-4 font-semibold text-red-700">Oui</span>
																{% else %}
																	<span class="inline-block rounded-full border border-green-200 bg-green-50 px-2 py-1 text-xs leading-4 font-semibold text-green-700">Non</span>
																{% endif %}
															</td>
															<td class="p-3 text-end">
																<div class="inline-flex items-center gap-2">
																	<a href="{{ path('app_tweet_show', {'id': comment.tweet.id, 'from' : 'admin_comments'}) }}" class="text-indigo-600 dark:text-indigo-200 hover:text-indigo-900 text-sm font-medium">Voir</a>
																	<form action="{{ path('app_admin_comment_delete', {'id': comment.id}) }}" method="post" class="delete-tweet-form">
																		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
																		<button type="submit" class="text-red-600 dark:text-red-500 hover:text-red-900 text-sm font-medium delete-tweet-button" data-comment-id="{{ comment.id }}">Supprimer</button>
																	</form>
																</div>
															</td>
														</tr>
													{% else %}
														<tr>
															<td colspan="6" class="p-3 text-center dark:text-gray-300 text-slate-500">Aucun commentaire trouvé.</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
											{# Pagination #}
											{% if totalPagesComments > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_panel_admin', {'section': 'commentaires', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesComments %}
														<a href="{{ path('app_panel_admin', {'section': 'commentaires', 'page': p}) }}" class="px-3 py-1 rounded {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesComments %}
														<a href="{{ path('app_panel_admin', {'section': 'commentaires', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
								{# LISTE COMMENTAIRES SIGNALES #}
							{% elseif app.request.query.get('section') == 'signalementsComments' %}
								<div class="dark:bg-slate-600 overflow-hidden rounded-xl border border-slate-200 bg-white sm:col-span-12">
									<div class="px-6 pt-6">
										<h2 class="text-2xl font-bold dark:text-gray-100">Listes des commentaires signalés</h2>
										<h3 class="text-sm dark:text-gray-300 font-medium text-slate-500">
											Gérez ici les commentaires qui ont été signalés par les utilisateurs.
										</h3>
									</div>
									<div class="p-6">
										<div class="min-w-full overflow-x-auto rounded-sm">
											<table class="min-w-full align-middle text-sm">
												<thead>
													<tr class="border-b-2 border-slate-100">
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															ID
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Contenu
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Auteur
														</th>
														<th class="px-3 py-2 text-start dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Date
														</th>
														<th class="px-3 py-2 text-end dark:text-gray-100 text-sm font-semibold tracking-wider text-slate-700 uppercase">
															Actions
														</th>
													</tr>
												</thead>
												<tbody>
													{% for reportedComment in reportedComments %}
														<tr class="group border-b border-slate-100">
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedComment.id }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedComment.content|length > 50 ? reportedComment.content|slice(0, 50) ~ '...' : reportedComment.content }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedComment.user.nickname }}</td>
															<td class="p-3 text-slate-600 dark:text-gray-300">{{ reportedComment.dateTime|date('d/m/Y H:i') }}</td>
															<td class="p-3 text-end">
																<div class="inline-flex items-center gap-2">
																	<a href="{{ path('app_tweet_show', {'id': reportedComment.tweet.id}) }}" class="text-indigo-600 dark:text-indigo-200 hover:text-indigo-900 text-sm font-medium">Voir</a>
																	<a href="{{ path('app_comment_unreport', {'id': reportedComment.id}) }}" class="text-green-600 dark:text-green-500 hover:text-green-900 text-sm font-medium unreport-link-button"
																	data-unreport-url="{{ path('app_comment_unreport', {'id': reportedComment.id}) }}"
																	data-unreport-comment-id="{{ reportedComment.id }}"
																	>Dé-signaler</a>
																	<form action="{{ path('app_admin_comment_delete', {'id': reportedComment.id}) }}" method="post" class="delete-tweet-form">
																		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reportedComment.id) }}">
																		<button type="submit" class="text-red-600 dark:text-red-500 hover:text-red-900 text-sm font-medium delete-tweet-button" data-reported-comment-id="{{ reportedComment.id }}">Supprimer</button>
																	</form>
																</div>
															</td>
														</tr>
													{% else %}
														<tr>
															<td colspan="5" class="p-3 text-center text-slate-500">Aucun commentaire signalé trouvé.</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
											{# Pagination #}
											{% if totalPagesSignalementsComments > 1 %}
												<div class="flex justify-center mt-10 gap-4">
													{% if currentPage > 1 %}
														<a href="{{ path('app_panel_admin', {'section': 'signalementsComments', 'page': currentPage - 1}) }}" class="px-4 py-2 bg-gray-200 rounded">← Précédent</a>
													{% endif %}

													{% for p in 1..totalPagesSignalementsComments %}
														<a href="{{ path('app_panel_admin', {'section': 'signalementsComments', 'page': p}) }}" class="px-3 py-1 rounded {{ p == currentPage ? 'bg-orange-500 text-white' : 'bg-gray-200' }}">
															{{ p }}
														</a>
													{% endfor %}

													{% if currentPage < totalPagesSignalementsComments %}
														<a href="{{ path('app_panel_admin', {'section': 'signalementsComments', 'page': currentPage + 1}) }}" class="px-4 py-2 bg-gray-200 rounded">Suivant →</a>
													{% endif %}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<!-- END Main Content -->
				</div>
			</div>
		</main>
		<!-- END Page Content -->

	</div>
	<!-- END Page Container -->
</div>{% endblock %}
